In [ ]:
import pandas as pd
dataset = pd.read_csv("forestfires.csv")

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [ ]:
area_dataset = dataset[dataset['area'] > 0]
print(area_dataset['area'].mean())
print(area_dataset['area'].min())
print(area_dataset['area'].max())
print(area_dataset['area'].std())
print(area_dataset.sort_values(by=['area']).tail(20))
print(area_dataset['area'].median())
print(area_dataset['month'].unique())
print(dataset['month'].unique())
# print(dataset[dataset['month'] == 'mar'])
print(dataset[dataset['month'] == 'mar'].shape)
print(dataset[dataset['month'] == 'mar'].shape[0])

24.60018518518518
0.09
1090.84
86.50163460412125
     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain     area
469  6  3   apr  sun  91.0   14.6   25.6  12.3  13.7  33   9.4   0.0    61.13
228  4  6   sep  sun  93.5  149.3  728.6   8.1  28.3  26   3.1   0.0    64.10
473  9  4   jun  sat  90.5   61.1  252.6   9.4  24.5  50   3.1   0.0    70.32
392  1  3   sep  sun  91.0  276.3  825.1   7.1  21.9  43   4.0   0.0    70.76
229  8  6   aug  sat  92.2   81.8  480.8  11.9  16.4  43   4.0   0.0    71.30
457  1  4   aug  wed  91.7  191.4  635.9   7.8  19.9  50   4.0   0.0    82.75
293  7  6   jul  tue  93.1  180.4  430.8  11.0  26.9  28   5.4   0.0    86.45
230  4  4   sep  wed  92.9  133.3  699.6   9.2  26.4  21   4.5   0.0    88.49
231  1  5   sep  sun  93.5  149.3  728.6   8.1  27.8  27   3.1   0.0    95.18
232  6  4   sep  tue  91.0  129.5  692.6   7.0  18.7  43   2.7   0.0   103.39
233  9  4   sep  tue  84.4   73.4  671.9   3.2  24.3  36   3.1   0.0   105.66
234  4  5   sep  sat  92.5  121.1  674.4   8.6  17.7  25   3.1   0.0   154.88
377  2  2   aug  sat  93.7  231.1  715.1   8.4  21.9  42   2.2   0.0   174.63
420  8  8   aug  wed  91.7  191.4  635.9   7.8  26.2  36   4.5   0.0   185.76
235  8  6   aug  sun  91.4  142.4  601.4  10.6  19.6  41   5.8   0.0   196.48
236  2  2   sep  sat  92.5  121.1  674.4   8.6  18.2  46   1.8   0.0   200.94
237  1  2   sep  tue  91.0  129.5  692.6   7.0  18.8  40   2.2   0.0   212.88
479  7  4   jul  mon  89.2  103.9  431.6   6.4  22.6  57   4.9   0.0   278.53
415  8  6   aug  thu  94.8  222.4  698.6  13.9  27.5  27   4.9   0.0   746.28
238  6  5   sep  sat  92.5  121.1  674.4   8.6  25.1  27   4.0   0.0  1090.84
6.37
['jul' 'sep' 'aug' 'mar' 'jun' 'apr' 'oct' 'feb' 'dec' 'may']
['mar' 'oct' 'aug' 'sep' 'apr' 'jun' 'jul' 'feb' 'jan' 'dec' 'may' 'nov']
(54, 13)
54

In [ ]:
months = dataset["month"].unique()
for month in months:
  month_dataset = dataset[dataset['month'] == month]
  fires_in_month = month_dataset.shape[0]
  avg_tmp_in_month = int(month_dataset['temp'].mean())

  print(str(fires_in_month) + " fires in " + month + " with a mean temperature of " + str(avg_tmp_in_month) + "Â°C")

54 fires in mar with a mean temperature of 13Â°C
15 fires in oct with a mean temperature of 17Â°C
184 fires in aug with a mean temperature of 21Â°C
172 fires in sep with a mean temperature of 19Â°C
9 fires in apr with a mean temperature of 12Â°C
17 fires in jun with a mean temperature of 20Â°C
32 fires in jul with a mean temperature of 22Â°C
20 fires in feb with a mean temperature of 9Â°C
2 fires in jan with a mean temperature of 5Â°C
9 fires in dec with a mean temperature of 4Â°C
2 fires in may with a mean temperature of 14Â°C
1 fires in nov with a mean temperature of 11Â°C